services:
  postgres:
    image: postgres:15-alpine
    container_name: nest-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: nestdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: nest-app
  #   restart: always
  #   ports:
  #     - "3001:3001"
  #   environment:
  #     NODE_ENV: production
  #     DATABASE_HOST: postgres
  #     DATABASE_PORT: 5432
  #     DATABASE_USER: postgres
  #     DATABASE_PASSWORD: postgres
  #     DATABASE_NAME: nestdb
  #     JWT_SECRET: JWT_SECRET
  #     JWT_ACCESS_SECRET: JWT_ACCESS
  #     JWT_REFRESH_SECRET: JWT_REFRESH
  #     JWT_EXPIRATION: JWT_EXPIRATION
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   volumes:
  #     - .:/app
  #     - /app/node_modules

volumes:
  postgres_data:
